In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      1072 non-null   int64
 1   name        1072 non-null   object
 2   type1       1072 non-null   object
 3   type2       574 non-null    object
 4   total       1072 non-null   int64
 5   hp          1072 non-null   int64
 6   attack      1072 non-null   int64
 7   defense     1072 non-null   int64
 8   sp_attack   1072 non-null   int64
 9   sp_defense  1072 non-null   int64
 10  speed       1072 non-null   int64
 11  generation  1072 non-null   int64
 12  legendary   1072 non-null   bool
dtypes: bool(1), int64(9), object(3)
memory usage: 101.7+ KB

In [6]:
df.head(1000)

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,896,Glastrier,Ice,NaN,580,100,145,130,65,110,30,8,True
1068,897,Spectrier,Ghost,NaN,580,100,65,60,145,80,130,8,True
1069,898,Calyrex,Psychic,Grass,500,100,80,80,80,80,80,8,True
1070,898,Ice Rider Calyrex,Psychic,Ice,680,100,165,150,85,130,50,8,True
1071,898,Shadow Rider Calyrex,Psychic,Ghost,680,100,85,80,165,100,150,8,True

# What are the most common primary and secondary typings? How many Pokemon have either of those type? How many pokemon have both of those types?

In [26]:
type1_counts = df['type1'].value_counts()
type2_counts = df['type2'].value_counts()

common_type1 = type1_counts.idxmax()
common_type2 = type2_counts.idxmax()

count_type1 = type1_counts[common_type1]
count_type2 = type2_counts[common_type2]

common_types = df[(df['type1'] == common_type1) & (df['type2'] == common_type2)]

count_common_types = len(common_types)

print("The most common primary type is", common_type1, "with", count_type1, "Pokemon having this type!")
print("The most common secondary type is", common_type2, "with", count_type2, "Pokemon having this type!")
print("There are", count_common_types, "pokemon with both", common_type1, "and", common_type2, "type!")

The most common primary type is Water with 136 Pokemon having this type!
The most common secondary type is Flying with 114 Pokemon having this type!
There are 7 pokemon with both Water and Flying type!

# Which legendary Pokemon has the highest base stat total? Which non-legendary Pokemon has the highest base stat total?

In [36]:
legendary = df[df['legendary']]
non_legendary= df[~df['legendary']]


# Find the index of the legendary PokÃ©mon with the highest total
high_leg_total = legendary['total'].idxmax()

# Find the index of the non-legendary PokÃ©mon with the highest total
high_non_leg_total = non_legendary['total'].idxmax()

# Get the names and total stats of the legendary and non-legendary PokÃ©mon with the highest total
name_high_leg = legendary.loc[high_leg_total, 'name']
total_high_leg = legendary.loc[high_leg_total, 'total']

name_high_non_leg = non_legendary.loc[high_non_leg_total, 'name']
total_high_non_leg = non_legendary.loc[high_non_leg_total, 'total']

print("The legendary pokemon with the highest base stat total is",name_high_leg,"with a base stat total of", total_high_leg,"!")
print("The normal pokemon with the highest base stat total is",name_high_non_leg,"with a base stat total of", total_high_non_leg,"!")

The legendary pokemon with the highest base stat total is Eternamax Eternatus with a base stat total of 1125 !
The normal pokemon with the highest base stat total is Mega Tyranitar with a base stat total of 700 !

Ideas for game:
    move back and forth and shoot upwards game
    an online piano
    maze game